:root{
     --white:#ffffff;
     --neutralLighter:#f5f5f5;
     --neutralLight:#ebebeb;
     --neutral:#d4d4d4;
     --black:#000000;
     --textDark: #1B1C1D;
     --descriptionText: #B1B1B5;
     --subTextColor: #606162;
     --blueDark:#345382;
     --blue:#1751FF;
     --blueLight:#0076D5;
     --blueLighter:#00BCEB;
     --blueLightest:#1abfe8;
     --blueHover:#BCCBF7;
     --greenDark:#238261;
     --green:#3dba8e;
     --greenLight:#3cd9a2;
     --greenLighter:#a0ebd0;
     --greenLightest:#c5f3e3;
     --greenGradient:linear-gradient(314.11deg, #20966C -6.95%, #73ED87 190.01%);
     --footer-bg: #0F2344;     
     --orangeDark:#b84f00;
     --orange:#e66300;
     --orangeLight:#eb8233;
     --orangeLighter:#f0a166;
     --orangeLightest:#fbe6d6;
     --redDark:#B91d16;
     --red:#e7241b;
     --redLight:#ec5049;
     --redLighter:#f17c76;
     --redLightest:#fad3d1;
     --tealDark:#1e8787;
     --teal:#2bc2b2;
     --tealLight:#5bcecd;
     --tealLighter:#98e0df;
     --tealLightest:#c0eded;
     --yellowDark:#eeda00;
     --yellow:#fff155;
     --yellowLight:#fef37f;
     --yellowLighter:#fff7ae;
     --yellowLightest:#ffface;
     --slateDark:#1e2429;
     --slate:#333d45;
     --slateLight:#475058;
     --slateLighter:#999ea2;
     --slateLightest:#C2c5c7;
}