# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

.vscode
.husky
.prettierrc
.prettierignore
.eslintignore

jest.config.js

deploy
sfdx
mdapi

**/.eslintrc.json

data/Product2.json
data/PricebookEntry.json

scripts/apex/hello.apex
scripts/soql/account.soql

sm/main/default/roles/

quickstart-config/guestbrowsing/sharingRules/Product2-template.sharingRules
quickstart-config/guestbrowsing/sharingRules/ProductCatalog-template.sharingRules
scripts/test.sh
scripts/setup-community.sh
quickstart-config/buyer-user-def-new.json
package-lock.json
sm/sm-temp/main/default/connectedApps/Salesforce_DX_CRT.connectedApp-meta.xml
quickstart-config/Salesforce_DX_CRT.connectedApp-meta-template.xml
quickstart-config/package-retrieve.xml
#sm/sm-community-template/main/default/experiences/sm1/routes/actionPlanDetail.json
#sm/sm-community-template/main/default/experiences/sm1/routes/actionPlanList.json
#sm/sm-community-template/main/default/experiences/sm1/routes/actionPlanRelatedList.json
#sm/sm-community-template/main/default/experiences/sm1/routes/actionPlanTemplateDetail.json
#sm/sm-community-template/main/default/experiences/sm1/routes/actionPlanTemplateList.json
#sm/sm-community-template/main/default/experiences/sm1/routes/actionPlanTemplateRelatedList.json
#sm/sm-community-template/main/default/experiences/sm1/views/actionPlanDetail.json
#sm/sm-community-template/main/default/experiences/sm1/views/actionPlanList.json
#sm/sm-community-template/main/default/experiences/sm1/views/actionPlanRelatedList.json
#sm/sm-community-template/main/default/experiences/sm1/views/actionPlanTemplateDetail.json
#sm/sm-community-template/main/default/experiences/sm1/views/actionPlanTemplateList.json
#sm/sm-community-template/main/default/experiences/sm1/views/actionPlanTemplateRelatedList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/routes/actionPlanDetail.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/routes/actionPlanList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/routes/actionPlanRelatedList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/routes/actionPlanTemplateDetail.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/routes/actionPlanTemplateList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/routes/actionPlanTemplateRelatedList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/views/actionPlanDetail.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/views/actionPlanList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/views/actionPlanRelatedList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/views/actionPlanTemplateDetail.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/views/actionPlanTemplateList.json
#sm/sm-b2b-connector-community-template/main/default/experiences/b2bsm1/views/actionPlanTemplateRelatedList.json
*.code-workspace
sm/sm-b2b-connector/main/default/sites/b2bsm.site-meta.xml
sm/sm-b2b-connector/main/default/staticresources/SNA_b2bsm1_sf_default_cdn_lfnec
sm/sm-b2b-connector/main/default/staticresources/SiteSamples
sm/sm-b2b-connector/main/default/staticresources/SNA_b2bsm1_sf_default_cdn_lfnec.resource-meta.xml
sm/sm-b2b-connector/main/default/staticresources/SiteSamples.resource-meta.xml
sm/sm-b2b-connector/main/default/managedTopics
sm/sm-b2b-connector/main/default/quickActions/Quote.SendEmail.quickAction-meta.xml
experience-bundle-package
experience-bundle-package2
sm/sm-base/main/default/certs
manifest
sm/sm-community-template/main/default/experiences/sm1/config/sm.json
data/WebStoreCatalogs.json
data/WebStorePricebooks.json
data/WebStoreBuyerGroups.json
data/Productless-Plan-1.json
data/BuyerGroupPricebooks.json
data/TaxTreatment.json
b2btest.json
sm/sm-community-template/main/default/profiles/Customer Community Plus Login for Subscription Management.profile-meta.xml
