:host {
    display: flex;
    flex-direction: column;
    color: var(--black);
}

header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 64em) {
    header {
        padding-bottom: 0.94rem;
    }
    h1 {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 64em) {
    header {
        align-items: center;
    }
    h1 {
        font-size: 1.125rem;
    }
}

.sort-menu {
    display: flex;
    align-items: center;
}